@page "{id:int}"
@model My_Scripture_Journal.Pages.Scriptures.DeleteModel

@{
    ViewData["Title"] = "Delete";
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Scripture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.Chapter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.DateAdded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.ScriptureBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.ScriptureBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scripture.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Scripture.Notes)
        </dd>
    </dl>
    
    <form method="post" class="backSect">
        <input type="hidden" asp-for="Scripture.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
