@model SacramentMeeting.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.President)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.President)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntermediateHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntermediateHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speakers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speakers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeakerSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
