@model SacramentMeeting.Models.Meeting

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
}

<h1>Details</h1>

<div>
    <h4>Nevsky Ward</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.President)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.President)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningHymn)
            <a href="https://www.churchofjesuschrist.org/music/library/hymns?lang=eng" target="_blank"><span class="glyphicon glyphicon-music"></span></a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn)
            <a href="https://www.churchofjesuschrist.org/music/library/hymns?lang=eng" target="_blank"><span class="glyphicon glyphicon-music"></span></a>
        </dd>
       </dl>
        <p class="fw-bold">Blessing and Passing of the Sacrament by Priesthood Holders</p>
       <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntermediateHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntermediateHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speakers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speakers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerSubject)
        </dt>
        <dd class = "col-sm-10 line-breaks">
            @Html.DisplayFor(model => model.SpeakerSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymn)
            <a href="https://www.churchofjesuschrist.org/music/library/hymns?lang=eng" target="_blank"><span class="glyphicon glyphicon-music"></span></a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
