@model PaginatedList<SacramentMeeting.Models.Meeting>

@{
    ViewData["Title"] = "Meetings List";
}
<div class="bg-opacity-25 bg-dark p-5 rounded-3">
<div class="container">
     <h1 class="text-light">Nevsky Ward</h1>
    <div class="row">
        <div class="col-lg-9">
            <p>
                <a class="btn btn-info " asp-action="Create">New Meeting</a>
            </p>
        </div>
        <div class="col-lg-3">
            <audio controls class="align-self-lg-end">
                <source src="~/kolob.mp3" type="audio/mpeg">
                Tag Audio is not supported by your browser
                <a href="~/kolob.mp3">Listen</a>.
            </audio>
        </div>
        <form asp-controller="Meetings" asp-action="Index" method="get">
            <p>
                <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-secondary" /> |
                <a class="btn btn-secondary" asp-action="Index">Full List</a>
            </p>
        </form>
     </div>
</div>

<div class="row">

@foreach (var item in Model)
{
<div class="card-group col-4 justify-content-around m-auto">
    <div class="card text-white mb-3" style="max-width: 30rem; box-shadow: 2px 2px 7px white">
        <div class="card-header bg-light">
            <span>
                <a class="text-uppercase text-warning fw-bold" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date</a>
            </span>
            <span class="text-dark fw-bold">
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </span>
        </div>
        <div class="card-body bg-secondary"> 
            <p>
            <span class="text-uppercase text-decoration-none text-white">President: </span>
            @Html.DisplayFor(modelItem => item.President)
            </p>
             <p>
            <a class="text-uppercase  text-warning" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Conductor: </a>
            <span >@Html.DisplayFor(modelItem => item.Conductor)</span>
            </p>
            <p>
            <span class="text-uppercase text-decoration-none text-white">Speakers: </span>
            @Html.DisplayFor(modelItem => item.Speakers)
            </p>
            <p>
            <a class="btn-sm btn-primary text-decoration-none glyphicon glyphicon-th" asp-action="Details" asp-route-id="@item.Id"></a>
            <a class="btn-sm btn-info text-decoration-none glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.Id"></a>
            <a class="btn-sm btn-danger text-decoration-none glyphicon glyphicon-remove-circle" asp-action="Delete" asp-route-id="@item.Id"></a>
            </p>
        </div>
    </div>
</div>
}
    </div>





<div class="text-center">
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
    </div>
</div>